<template>
    <section id="about" class="about section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Sobre Nosotros</h2>
                <h3>Mas información sobre <span>Lynx</span></h3>
                <p>El crecimiento lo obtenemos juntos, nosotros pensamos en vos y vos pensas en nostros. Somos una
                    empresa que nace con el fin de brindar al cliente las soluciones adecuadas a sus inconvenientes.</p>
            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                    <img src="/img/services/consultas.svg" class="img-fluid" alt="Sobre Nosotros"
                        title="Sobre nosotros" />
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up"
                    data-aos-delay="100">
                    <h3>“Cada empresa y cada individuo tiene distintas necesidades”</h3>
                    <p class="fst-italic">
                        En <b>Lynx</b> entendemos a la perfección esta premisa. Por eso brindamos soluciones a medida,
                        desarrollando software particular para cada necesidad.
                    </p>
                    <ul>
                        <li>
                            <i class="fa fa-comments-o"></i>
                            <div>
                                <h5>Nos adaptamos</h5>
                                <p>A diferencia de otras empresas nuestro Software se adapta a tus necesidades.</p>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-bar-chart"></i>
                            <div>
                                <h5>Flujos de trabajo</h5>
                                <p>Definimos los mejores flujos de trabajo para optimizar tu dia a dia.</p>
                            </div>
                        </li>
                    </ul>
                    <p>
                        Preguntas como: “Podemos hacer que el sistema se conecte automáticamente con nuestro sistema y
                        nos avise cuando...” o “Podemos agregar la posibilidad de que el usuario genere descuentos y se
                        calcule en forma automática…” son respuestas que siempre nos gusta responder. “Si, se puede. El
                        limite es la imaginación”.
                    </p>
                </div>
            </div>

        </div>
    </section>
</template>

<script>
export default {

}
</script>

<style>
</style>