<template>
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contacto</h2>
                <h3><span>Comunicate</span></h3>
                <p>Comunicate con nosotros. Comenza hoy a potenciar tus ideas.</p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-6">
                    <div class="info-box mb-4">
                        <i class="fa fa-map"></i>
                        <h3>Encuentranos</h3>
                        <p>Argentina, Buenos aires, GBA Sur (Quilmes - Berazategui)</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="fa fa-envelope"></i>
                        <h3>Email</h3>
                        <p>indo@lynx.net.ar</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="fa fa-whatsapp"></i>
                        <h3>Contactanos</h3>
                        <p>+54 9 11 2388-2753</p>
                    </div>
                </div>

            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">

                <div class="col-12 ">
                    <iframe class="mb-4 mb-lg-0"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13649.517448918608!2d-58.263308295685945!3d-34.76757433099286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1658857845590!5m2!1ses-419!2sar"
                        frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
                </div>

            </div>

        </div>
    </section>
</template>

<script>
export default {

}
</script>

<style scoped>
iframe, .info-box {
    border-radius: var(--border-radius);
}
</style>