<template>
    <section id="hero" class="d-flex align-items-center">
        <div class="container" data-aos="zoom-out" data-aos-delay="100">
            <h1>Bienvenido a <span>Lynx</span></h1>
            <h2>Desarrollamos software a medida como aplicaciones web y mobile siguiendo los estándares actuales de
                metodologías ágiles. También armamos equipos de staff augmentation para que tu proyecto sea productivo e
                innovador.</h2>
            <div class="d-flex">
                <a href="#about" class="btn-get-started scrollto">Conocenos</a>
            </div>
        </div>
    </section>
</template>

<script>
export default {

}
</script>

<style>
</style>